target/
project/project
project/target
bin/
local.properties
proguard-sbt.txt
.idea/
.idea/modules
.gradle/
build.gradle
src/androidTest/androidTest.iml
src/main/gen/
src/main/main.iml
my-android-keystore.jks
loloof64_android.jks