target/
project/project
project/target
bin/
local.properties
proguard-sbt.txt
.idea/
.idea/modules/
.gradle/
build.gradle
src/androidTest/androidTest.iml
src/main/gen/
src/main/main.iml
basic_chess_endgames.keystore.jks